{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counterfeit Detection</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <div>
            <h2 id = 'center-nav'>Counterfeit Product Detection</h2>
            <h3 id = 'center-nav'>
                Currently serving Counterfeit product Detection for Adidas
            </h3>
        </div>
    </header>
    {% block content %}



    {% endblock %}
    <footer>
        &copy;2020 Counterfeit Product Detection Applicaton by Group-7
    </footer>
</body>
</html>